.description {
	font-size: var(--font-size-4);
	margin-top: var(--size-4);
}

@media screen and (min-width: 600px) {
	.description {
		font-size: var(--font-size-5);
		margin-top: var(--size-5);
	}
}
